.vodisek-red {
    color: #FF4040;
}

.vodisek-black {
    color: #292929;
}

img {
    width: 200px;
    height: 200px;
}

h2 {
    color: #222222;
    text-decoration: none !important;
}

a {
    color: inherit;
}
